<div class="panel">
  <div class="form-inline">
    <mat-form-field color="accent">
      <input type="text" matInput ngxDaterangepickerMd [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}" startKey="start" endKey="end"
        [(ngModel)]="selected" name="daterange" />
    </mat-form-field>
    <input #input maxlength="4" placeholder="Enter asset name (ETH)" [(ngModel)]="asset">
    <div class="form-group">
      <div class="col-md-offset-2 col-md-8">
        <button class="btn btn-default" (click)="download()">Show statistic by period</button>
      </div>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>pair</th>
        <th>count sell</th>
        <th>count buy</th>
        <th>different</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{asset}}</td>
        <td>{{sellCount}}</td>
        <td>{{buyCount}}</td>
        <td>{{sellCount - buyCount}}</td>
    </tbody>
  </table>
</div>
