<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Show menu
    </button>
    <div *ngIf="showFiller">
      <app-header></app-header>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Menu
    </button>
    <div class="row">
      <div class="col-md-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</mat-drawer-container>
