<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Panel for adding new trade line of arbitrage
      </mat-panel-title>
      <mat-panel-description>
        Panel {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="row">
      <div class="col-xs-12">
        <form id="formEdit">
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput type="text" (keyup)="setStatus($event)" id="idGroup" placeholder="idGroup">
            </mat-form-field>
          </form>        
          <mat-form-field>
            <mat-select [(value)]="pair" placeholder="Choise pair">
              <mat-option>None</mat-option>
              <mat-option value="BTC/USD">BTC/USD</mat-option>
              <mat-option value="ETH/USD">ETH/USD</mat-option>
              <mat-option value="BTC/JPY">BTC/JPY</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select [(value)]="nameExchange" placeholder="exchange">
              <mat-option>None</mat-option>
              <mat-option value="bittrex">bittrex</mat-option>
              <mat-option value="bitfinex">bitfinex</mat-option>
              <mat-option value="hitBtc">hitBtc</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select [(value)]="member" placeholder="Choise member">
              <mat-option>None</mat-option>
              <mat-option value="Ivan">Ivan</mat-option>
              <mat-option value="Artur">Artur</mat-option>
              <mat-option value="Pavel">Pavel</mat-option>
            </mat-select>
          </mat-form-field>
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput type="number" (keyup)="setStatus($event)" id="tradeVolume" placeholder="Trade Volume">
            </mat-form-field>
          </form>
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput type="number" (keyup)="setStatus($event)" id="fee" placeholder="Fee">
            </mat-form-field>
          </form>
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput type="number" (keyup)="setStatus($event)" id="deviation" placeholder="Deviation">
            </mat-form-field>
          </form>
          <mat-form-field>
            <mat-select [(value)]="serverName" placeholder="Server Name">
              <mat-option>None</mat-option>
              <mat-option value="EU">EU</mat-option>
              <mat-option value="USA">USA</mat-option>
              <mat-option value="Honkong">Honkong</mat-option>
            </mat-select>
          </mat-form-field>
          <form class="example-form">
            <mat-form-field class="example-full-width" >
              <input matInput type="text" (keyup)="setStatus($event)" id="status" placeholder="Status connection">
            </mat-form-field>
          </form>
          <div class="row">
            <div class="col-xs-12">
              <button type="button" class="btn btn-success" (click)="createGroupArbitrage()">add New Arbitrage Line</button>
              <button type="button" class="btn btn-primary" (click)="clearFields()">Clear</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<app-group-exchange></app-group-exchange>
